name: PR Checks

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main


  workflow_dispatch:

  schedule:
    - cron: "0 2 * * *" # Daily at 2am UTC      

    
permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pip-audit

      - name: Run tests
        run: pytest -q

      - name: Run pip-audit
        run: |
          pip-audit --require-hashes || exit 1

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: test-image:latest
